body
{
    font-family: Tahoma,Geneva, Sans-Serif;
    background: url("pexel.jpg");
    background-size: cover;

}
h1
{
    text-align: center;
    color: floralwhite;
    background: transparent;
}
.signin
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 240px;
}
form
{
    width:240px;
    text-align: center;



}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    font-family: 'play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outliine: none;
   
}
button
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-redius: 12px;  
    cursor: pointer;


}
 button:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color: white;
    text-align: center;
}
a
{
    color: black;
    text-decoration: none;
    color: white;
}
a:hover
{
    color: skyblue;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
} 
  /*navigation bar*/
.nav a {
 
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 

}


.nav a:hover {
 background-color: grey;
 

}
.nav{
  display: inline;
  background-color: #2f2f2f;
    font-family: Monospace,Lucida Console;
    color: white;
    padding: 14px 16px;
    overflow: hidden;
    text-decoration: none;
  font-size: 18px;
  text-align: center;

}
